body {
    background-image: url("denim.jpg");
}
@font-face {
    font-family: 'BosanskiFont';
    src: url('BosanskiFont.ttf') format('truetype');
}
.feature {
    text-align: center;
    font-family: 'BosanskiFont', Arial, sans-serif;
    font-size: 14px;
}
