body {
    background-image: url("denim.jpg");
}
.landing{
    text-align: center;
}
@font-face {
    font-family: 'BosanskiFont';
    src: url('BosanskiFont.ttf') format('truetype');
  }

  .navbar {
    background-color: #333;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .navbar-logo {
    font-family: 'BosanskiFont', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navbar-links li {
    margin-left: 20px;
  }

  .navbar-links li a {
    font-family: 'BosanskiFont', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .navbar-links li a:hover {
    color: #aaa;
  }



  
  .github-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }

  .github-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 230px;
  }

  .github-button:hover {
    background-color: #444;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  .title {
    font-family: 'BosanskiFont', Arial, sans-serif;
    font-size: 24px;
    color: #db4d4d;
    text-align: center;
  }
  .subtitle {
    font-family: 'BosanskiFont', Arial, sans-serif;
    font-size: 20px;
    color: #53ca48;
    text-align: center;
    margin-top: 20px;
  }
